header {
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

/***********************************/ 
/*            NAVIGATION           */
/***********************************/ 
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

/* Style général des liens */
.navigation a {
  color: var(--dark-green-color);
  text-decoration: none;
  padding: 10px 0;
  margin: 0 5px;
  position: relative;
  transition: color 0.3s ease-in-out;
  border: none;
}

/* Effet au survol de tous les liens */
.link-nav::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #185959, #92a69a); /* Dégradé */
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.link-nav:hover::before {
  width: 100%;
  border-radius: 50%;
}

/* Mise en avant "Urgences et gardes" */
.navigation .urgent-link {
  font-weight: bold; 
  position: relative;
}

/* Ajout d'un effet spécial au survol de "Urgences et gardes" */
.navigation .urgent-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg,#92a69a, #185959 ); /* Dégradé */
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.navigation .urgent-link:hover::before {
  height: 6px; 
}

/***********************************/ 
/*          MENU DEROULANT         */
/***********************************/ 
/* Conteneur du menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

/* <p> dans le bouton "offre des soins" pour le menu déroulant */
.dropdown-button p {
  color: var(--dark-green-color);
}

/* Bouton qui ouvre le menu */
.dropdown-button {
  color: var(--dark-green-color);
  text-decoration: none;
  padding: 10px 0;
  margin: 0 5px;
  position: relative;
  transition: color 0.3s ease-in-out;
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Menu caché par défaut */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin-top: 5px;
  border-radius: 5px;
  min-width: max-content;
  opacity: 0; 
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
  z-index: 1000; 
}

/* Affichage du menu lorsqu'il est ouvert */
.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Styles des éléments du menu */
.dropdown-menu li {
  padding: 6px 10px;
  transition: background-color 0.4s ease-in-out;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: rgba(24, 89, 89, 0.1);
}

.dropdown-menu li a {
  text-decoration: none;
  color: var(--dark-green-color);
  display: block;
  width: 100%;
}

/* Trigger pour mobiles and tablets */
#mobile-tablet-trigger {
  display: none;
  border: none; 
}

.logout-button {
  padding: 6px;
  background-color: var(--green-color);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer; 
}

/* Styles for both tablets and mobile views */
@media screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: translateY(-100%); 
    transition: transform 0.5s ease; 
    position: absolute;
    width: 100%;
    background-color: var(--color-background-green);
    opacity: 0; 
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .navigation.is-open {
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    transform: translateY(0); 
    opacity: 1; 
    position: relative;
  }
  
  .navigation.is-open a {
    padding: 0.7vh;
  }

  #mobile-tablet-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--color-background-green); 
    position: relative;
  }

  .trigger-icon {
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--green-color); 
  }

  .mode-sombre, .mode-clair {
    padding: 10px;
    font-size: 1.7em; 
  }
  
  #logo {
    width: 80px; 
  }
}

